body {
  background-color: aqua;
}
#root {
  max-width: 100%;
  font-family: futura;
}
a {
  cursor: pointer;
}
.nav-color {
  background-color: aqua;
}
.nav-text {
  color: black;
  font-family: futura;
}
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
#listen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
.stream-links {
  display: flex;
}
#video {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
.bio {
  margin: 1.5rem;
  color: hotpink;
}
#album-cover {
  height: 25rem;
  width: 25rem;
}
