body {
  background-color: aqua;
}
#root {
  max-width: 100%;
  font-family: futura;
}
a {
  cursor: pointer;
}
.nav-color {
  background-color: aqua;
}
.nav-text {
  color: black;
  font-family: futura;
}
#home {
  animation-name: load;
  animation-duration: 0.5s;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
  font-family: futura;
}
#album-container {
  height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#home p {
  font-size: 0.9rem;
}
#album-cover {
  height: 55rem;
  width: 55rem;
}
#listen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
.stream-links {
  display: flex;
}
#video {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
.bio {
  margin: 1.5rem;
  color: hotpink;
}

@keyframes load {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 575px) {
  #home p {
    font-size: 0.8rem;
  }
  #home h5 {
    font-size: 0.8rem;
  }
  #listen h6 {
    font-size: 0.8rem;
  }
  #about h5,
  p {
    font-size: 0.8rem;
  }
}
