body {
  background-color: aqua;
}
#root {
  max-width: 100%;
  font-family: futura;
}
a {
  cursor: pointer;
}
.nav-color {
  background-color: aqua;
}
.nav-text {
  color: black;
  font-family: futura;
}
#home {
  animation-name: load;
  animation-duration: 0.5s;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: aqua;
  font-family: futura;
}
#album-container {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}
#home h6 {
  text-align: center;
  margin-top: 2rem;
}
#home p {
  font-size: 0.9rem;
}
#home a {
  text-decoration: none;
  color: aqua;
  margin: 0 auto;
}
#album-cover {
  height: auto;
  width: 65rem;
  margin: 0;
  display: inline;
  max-width: 100%;
}
#listen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  color: aqua;
}
.stream-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: center;
}
#video {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aqua;
}
#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: aqua;
}
.bio {
  margin: 1.5rem;
  color: hotpink;
}
.button-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
}
#about a {
  margin: 0 auto;
}
#yt-logo {
  height: 7rem;
  width: 11rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
}
#twitter-logo {
  height: 7rem;
  width: 7rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
  border-radius: 50%;
}
#insta-logo {
  height: 8rem;
  width: 12rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
}
#itunes-logo {
  height: 6rem;
  width: 8rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
  border-radius: 50%;
}
#amazon-logo {
  height: 9rem;
  width: 8rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
}
#deezer-logo {
  height: 8rem;
  width: 8rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
  border-radius: 50%;
}
#fb-logo {
  height: 6rem;
  width: 8rem;
  display: inline;
  max-width: 100%;
  height: auto;
  margin: 5px auto;
  border-radius: 50%;
}

@keyframes load {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 575px) {
  #home p {
    font-size: 0.8rem;
  }
  #home h5 {
    font-size: 0.8rem;
  }
  #listen h6 {
    font-size: 0.8rem;
  }
  #about h5,
  p {
    font-size: 0.8rem;
  }
}
